.mat-header-cell {
    flex-direction: column;
    justify-content: center;
}

.mat-cell {
    text-align: center;
    justify-content: center;
}

input {
    text-align right;
}

.caption {
    display: flex;
    align-items: center;
}

.mat-cell.selected {
    background-color: black;
    color: white;
}
