.center {
    margin: auto;
    width: 50%;
    height: 50%
    padding: 10px;
}

.left {
    margin: left;
    width: 50%;
    height: 50%
    padding: 10px;
}

mat-table{
    overflow-y:auto;
}

mat-header-cell {
    display:flex;
    justify-content:flex-end;
}

.mat-cell {
    text-align: center;
    justify-content: center;
}

input {
    text-align right;
}

.caption {
    display: flex;
    align-items: center;
}

.mat-cell.selected {
    background-color: black;
    color: white;
}

.mat-icon {
    vertical-align: bottom;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;
}
